/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bourbon";
 @import "events.scss";
 @import "scaffolds.css.scss";
 @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

 video#bgvid {
 position: fixed;
 top: 50%;
 left: 50%;
 min-width: 100%;
 min-height: 100%;
 width: auto;
 height: auto;
 z-index: -100;
 -webkit-transform: translateX(-50%) translateY(-50%);
 transform: translateX(-50%) translateY(-50%);
 background: url(glaciartopp.mp4) no-repeat;
 background-size: cover;
 }
 .resultsTitle {
  text-align: left;
  padding-right: 15px;
  text-transform: uppercase;
 }

.descriptionStyle {
  font-weight: normal;
  padding-right: 15px;
  font-family: inherit;
  text-align: left;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 2.0;
}
hr {
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.image-styling {
    margin-top: 2.5%;
}
.image-styling img {
  border: 10px white solid;
}

 body {
   display: block;
   @include margin(0.83em, 0px);
   text-align: center;
   font-size: 2.5em;
   font-weight: bold;
   font-family: Fixed, monospace;
 }

 body.semi-transparent {
  background: rgba(255,255,255,0.5);
  border-style: none;
}


 .row-space-1 {
  margin-bottom: 6.25px;
  margin-top: 180px;
}
.text-contrast {
  color: #fff;
}
.text-branding {
  text-transform: uppercase;
}
.text-jumbo {
  font-size: 60px;
  font-weight: 1400;
}

.form-group {
background: #000;
background: rgba(0,0,0,0.6);
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding-top: 30px;
padding-bottom: 30px;
}

.form-group2 {
background: #000;
background: rgba(0,0,0,0.6);
bottom: 0;
left: 0;
right: 0;
padding-top: 30px;
padding-bottom: 30px;
}
.control-label {
  color: #ffe;
  font-family: arial;
}

//red button maybe
.myButton2 {
opacity: .9;
}

.myButton, .myButton2 {
	-moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
	background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
	background-color:#d0451b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:2px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:16px;
	font-weight:bold;
	padding:12px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.myButton:hover, .myButton2:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
	@include background(linear-gradient(#bc3315 5%, #d0451b 100%));
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
	background-color:#bc3315;
}
.myButton:active, .myButton2:active{
	position:relative;
	top:1px;
}


.container-fluid {
  margin: 0 auto;
  width: 75%;
  // border: 3px solid lightgrey;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 75px rgb(52, 26, 34);
  padding: 0px 0px 43px 0px;
  margin-top: 79px;
  margin-bottom: 79px;
}

.opc-body {
  background-image: url('https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 20px;
}

.discoveryContainer {
  margin-top: 32.8%;
  overflow: auto;
  background-color: #ffe;
  position: absolute;
  left: 0;
  right: 0;
}


.dontstandthere {
    float: left
}
.dontstandthere img {
    display: block
}
.post-content {
    margin-left: 210px
}
.post-title {
    font-weight: bold;
    font-size: 200%;
}
.pg {
  font-family: monospace;
  line-height: 38px;
  font-size: 15px;
}

.eventsIndex {
  margin-top: 8%;
}
